db/*.sqlite3
db/*.sqlite
log/*.log
tmp/*
.DS_Store
.svn
.loadpath
.project
public/tmp
config/database.yml
public/events.ics
doc/diagrams
public/javascripts/cache
public/stylesheets/cache
public/uploads
public/sitemap*
.tmp_*
db/xapiandb/*
config/initializers/settings.rb
config/keys.yml
