[submodule "vendor/plugins/bundle-fu"]
	path = vendor/plugins/bundle-fu
	url = git://github.com/zinf/bundle-fu.git
[submodule "vendor/plugins/meta-tags"]
	path = vendor/plugins/meta-tags
	url = git://github.com/kpumuk/meta-tags.git
[submodule "vendor/plugins/xapit"]
	path = vendor/plugins/xapit
	url = git://github.com/ryanb/xapit.git
[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
