[submodule "vendor/plugins/textile-editor-helper"]
	path = vendor/plugins/textile-editor-helper
	url = git://github.com/felttippin/textile-editor-helper.git
[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/aaronchi/jrails.git
