*.kpf
.*.swp
.DS_Store
.bundle
.idea
.loadpath
.project
.svn
.tmp_*
Gemfile.lock
config/database.yml
config/fiveruns_tuneup.yml
db/*.sqlite
db/*.sqlite3
doc/diagrams
log/*.log
public/events.ics
public/images/tuneup
public/javascripts/cache
public/javascripts/tuneup
public/sitemap*
public/stylesheets/cache
public/stylesheets/tuneup
public/tmp
public/uploads
tags
tmp/*
