<h2 class="title"><%= Diff.new(@rev_a.title, @rev_b.title).to_html %></h2>

<p><%= link_to "[ back to article ]", :action => "edit", :id => params[:id] %></p>

<p style="font-weight:bold;"><%= Diff.new(@rev_a.description, @rev_b.description).to_html %></p>

<div><%= @diff.to_html %></div>
