<h2 class="title">Editing article</h2>

<%= render :partial => "form", :locals => { :submit_value => "Update" } %>

<p>
	<%= link_to 'Show', admin_article_path(@article) %> |
	<%= link_to "Index", admin_articles_path %>
</p>
