<% for article in @articles %>
	<div class="article">
		<h3 class="title"><%= link_to(article.title, :controller => :articles, :action => :show, :id => article.id) %></h3>
		<p class="metadata">
			<%=h format_date(article.created_at) %>
			by <%=h article.user.first_name + " " + article.user.last_name %>
		</p>
		<p><%=h article.description %></p>
	</div>
<% end %>