<div id="adminSidebarTextile" class="sidebar">
	<h2>Basic textile</h2>
  <dl>
    <dt>h1.</dt>
    <dd>Header 1</dd>

    <dt>*random text*</dt>
    <dd>bold</dd>

    <dt>etc</dt>
    <dd>et cetera</dd>

    <dt>_random text_</dt>
    <dd>underline</dd>
  </dl>
</div>
