body {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Helvetica, "Bitstream Vera Sans", "Trebuchet MS", sans-serif;
	background: #fff;
}

#wrapper {
	padding-top: 0px;
	margin-top: 0px;
}

#header {
	height: 40px;
	background: #141414;
	padding: 0;
	padding-left: 20px;;
}

#header h2 {
	display: inline;
	margin-bottom: 0;
	background: transparent url('../images/h2Logo.png') no-repeat left center;
	color: transparent;
}

.visitSite {
	font-weight: bold;
}

#content {
	float: none;
	background: #ffffff;
	margin-left: 200px;
}

#adminNavigation {
	float: left;
	width: 150px;
	margin-right: 20px;
	list-style: none;
	padding: 10px 0px 10px 20px;
	margin-top: 0px;
}

#adminNavigation li {
	margin-top: 10px;
}

#adminNavigation a {
	text-decoration: none;
	padding: 0 20px 0 20px;
}

#adminNavigation a:hover {
	text-decoration: none;
}

.aboutLink{
	background: url('../images/picol/about_16.png') no-repeat 0px 1px;
}

.usersLink{
	background: url('../images/picol/users_16.png') no-repeat 0px 1px;
}

.homeLink{
	background: url('../images/picol/home_16.png') no-repeat 0px 1px;
}

.articlesLink{
	background: url('../images/picol/articles_16.png') no-repeat 0px 1px;
}

.eventsLink{
	background: url('../images/picol/events_16.png') no-repeat 0px 1px;
}

.newsLink{
	background: url('../images/picol/news_16.png') no-repeat 0px 1px;
}

#footer {
	clear: both;
	background: #ff0000;
}

img {
	border: none;
}

.title {
	font-family: Georgia, "Bitstream Vera Serif", serif;
	color: #282828;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.title a:link,
.title a:visited {
	text-decoration: none;
}

.title a:hover {
	text-decoration: underline;
}

.metadata {
	color: #666666;
	margin-top: 0px;
	padding-top: 0px;
}

.sidebar {	
	float: right;
	background: none;
	border: none;
	width: 180px;
	margin-bottom: 5px;
	padding: 0 10px;
}

p {
	font-size: 10pt;
}

table {
	width: 80%;
	font-size: 8pt;
	border-collapse: collapse;
	margin-top: 10px;
	margin-bottom: 10px;
}

td {
	border: 1px solid #D9D9D9;
	padding: 5px 5px;
}

th {
	background: #F0F0F0;
	border: 1px solid #D9D9D9;
	padding: 5px 0px;
	color: #282828;
	font-weight: bold;
}

.checkbox, .radio {
	text-align: center;
	padding: 0;
	margin: 0;
}

.listingTitle {
	font-weight: bold;
}

.classifier {
	text-transform: uppercase;
	font-size: 7pt;
	color: #666666;
	font-weight: bold;
}

.errors {
	border: 3px solid #400000;
	padding: 0px 20px;
	margin-bottom: 20px;
	background: #8C2A2A;
	color: #ffffff;
}

.published {
	background-color: #D1FFEC;
}

.unpublished {
	background-color: #FFB5D3;
}

a:link,
a:visited {
	color: #0066cb;
}

a:hover {
	color: #282828;
}

dl {
	font-size: 10pt;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 10px;
}

img {
	border: none;
}

.pagination {
	font-size: 10pt;
	font-weight: bold;
}

.add {
	background: url('../images/icons/add_16.png') no-repeat 0px 1px;
	padding-left: 17px;
}


.textField {
	border: 1px solid #D9D9D9;
}

label {
	font-size: 9pt;
	font-weight: bold;
}

.fieldWithErrors {
	display: inline;
	color: #ee0000;
}

#errorExplanation {
	width: 590px;
	background-color: #ffb3b3;
	border: solid #ff8080 1px;
	padding: 0px 20px;
	margin: 20px 0px;
}

#errorExplanation h2 {
	font-size: 12pt;
}

#errorExplanation ul {
	font-size: 10pt;
}

#flash {
	font-weight: 700;
	float: right;
	padding-top: 5px;
}

#flashNotice,
#flashLoginNotice {
	color: green;
}

#flashError,
#flashLoginError {
	color: red;
}

div.grippie {
	background:#EEEEEE url('../images/grippie.png') no-repeat scroll center 2px;
	border-color:#DDDDDD;
	border-style:solid;
	border-width:0pt 1px 1px;
	cursor:s-resize;
	height:9px;
	overflow:hidden;
}
.resizable-textarea textarea {
	display:block;
	margin-bottom:0pt;
}
