/*	hhlc.eish! web application CSS

	Homepage: http://hhlinuxclub.org/
	Repository: http://github.com/jcxplorer/hhlc/tree/master
*/


/* Begin CSS 3 web font descriptions
   See: http://www.w3.org/TR/css3-webfonts/#font-descriptions */
@font-face {
	font-family: "Bitstream Vera Sans Bold";
	src: url("../fonts/bitstream/VeraBd.ttf");
}

@font-face {
	font-family: "Bitstream Vera Sans Italic";
	src: url("../fonts/bitstream/VeraIt.ttf");
}

@font-face {
	font-family: "Bitstream Vera Mono";
	src: url("../fonts/bitstream/VeraMono.ttf");
}

@font-face {
	font-family: "Bitstream Vera Serif Bold";
	src: url("../fonts/bitstream/VeraSeBd.ttf");
}

@font-face {
	font-family: "Bitstream Vera Serif";
	src: url("../fonts/bitstream/VeraSe.ttf");
}

@font-face {
	font-family: "Bitstream Vera Sans";
	src: url("../fonts/bitstream/Vera.ttf");
}
/* End font descriptions */



/* Everything else from now on... */
body {
	margin: 0px;
	padding: 0px;
	font-family: "Bitstream Vera Sans", sans-serif;
	background: #141414 url('../images/bg_stripes2.png') repeat-x 0px 0px;
}

#container {
	position: relative;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7px;
	background: none;
}

#header {
	height: 21px;
	background: #0066cb url('../images/header.png') no-repeat 0px 0px;
	padding-top: 126px;
}

#header h1 {
	display: none;
}

#navigation {
	background: none;
	padding: 0px 20px 0px 0px;
	text-align: left;
}

#navigation ul {
	list-style: none;
	display: inline;
}

#navigation li {
	background: none;
	font-family: Georgia, "Bitstream Vera Serif", serif;
	font-weight: bold;
	font-size: 12pt;
	display: inline;
}

#navigation a:link,
#navigation a:visited {
	text-decoration: none;
	padding: 2px 10px;
	color: #ffffff;
}

#navigation .active_link a:link,
#navigation .active_link a:visited {
	text-decoration: none;
	color: #00264b;
}

#navigation a:hover,
#navigation ul li:hover,
#navigation .active_link {
	background: #ffffff;
	color: #00264b;
}

#sidebars {
	width: 200px;
	margin: 25px 5px;
	float: right;
}

#sidebars h2 {
	font-size: 10pt;
	text-transform: lowercase;
	text-align: center;
	border-bottom: 1px solid #eee4cb;
	margin: 5px 10px;
	color: #666666;
}

#sidebars li {
	list-style: none;
	font-size: 10pt;
}

#users_sidebar {
	text-align: center;
}

#users_sidebar .field {
	width: 160px;
	border: 1px solid #eee4cb;
}

#users_sidebar label {
	font-size: 9pt;
	text-transform: lowercase;
}

#content {
	padding: 20px;
	margin: 0;
	background: #ffffff;
	float: left;
	width: 860px;
}

#footer {
	font-family: "Bitstream Vera Sans", Verdana, sans-serif;
	text-align: center;
	color: #f1f1f1;
	background: #00264B url('../images/nav_left_green.png') repeat-y 0px 0px;
	padding: 10px;
	margin-bottom: 20px;
	clear: both;
}

#footer p {
	margin: 0px;
	font-size: 8pt;
}

#footer a {
	color: #ffffff;
	text-decoration: underline;
}

#footer a:hover {
	text-decoration: none;
}

.title {
	font-family: Georgia, "Bitstream Vera Serif", serif;
	color: #282828;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.title a:link,
.title a:visited {
	text-decoration: none;
}

.title a:hover {
	text-decoration: underline;
}

.metadata {
	color: #666666;
	margin-top: 0px;
	padding-top: 0px;
}

.sidebar {	
	float: right;
	background: #f6efe0;
	border: 1px solid #eee4cb;
	width: 180px;
	margin-bottom: 20px;
	padding: 0 10px;
}

p {
	font-size: 10pt;
}

table {
	font-size: 9pt;
	border-collapse: collapse;
}

td {
	border: 1px solid #eee4cb;
	padding: 5px 5px;
}

th {
	background: #f6efe0;
	border: 1px solid #eee4cb;
	padding: 5px 10px;
	color: #282828;
	font-weight: bold;
}

.classifier {
	text-transform: uppercase;
	font-size: 7pt;
	color: #666666;
	font-weight: bold;
}

.errors {
	border: 3px solid #400000;
	padding: 0px 20px;
	margin-bottom: 20px;
	background: #8C2A2A;
	color: #ffffff;
}

.unpublished {
	color: #cc0000;
}

a:link,
a:visited {
	color: #0066cb;
}

a:hover {
	color: #282828;
}

dl {
	font-size: 10pt;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 10px;
}

img {
	border: none;
}

/* End everything else */