/*  ADVANCED STYLES */
.top_testresult{
	font-weight: bold;
	font-size:8pt;
	font-family: arial,helvetica,sans-serif;
	color:#444;
	padding:0;
	margin:0 0 2px 0;
}
.top_testresult span{
	padding:2px ;
	margin:0;
}
.top_shortPass{
	background:#edabab;
	border:1px solid #bc0000;
}

.top_badPass{
	background:#edabab;
	border:1px solid #bc0000;
}

.top_goodPass{
	background:#ede3ab;
	border:1px solid #bc9f00;
}

.top_strongPass{
	background:#d3edab;
	border:1px solid #73bc00;
}


/* 	RESULT STYLE  */
.testresult{
	font-weight: bold;
	font-size:8pt;
	font-family: arial,helvetica,sans-serif;
	color:#666;
	padding:3px 3px 3px 3px;
	margin-left:10px;
	display: inline;
	height:auto;
	float: none;
}

.shortPass, .badPass {
	background: #FF9999;
	border: 1px red solid;
}
.goodPass {
	background: #FFEA94;
	border: 1px #FFD324 solid;
}
.strongPass {
	background: #B1FF9E;
	border: 1px #00ff00 solid;
}
