/* hhlc.eish! web application CSS
 * 
 * Homepage: http://hhlinuxclub.org/
 * Repository: http://github.com/jcxplorer/hhlc/tree/master	
 */

body {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Helvetica, "Bitstream Vera Sans", "Trebuchet MS", sans-serif;
	background: #bbcdde url('../images/background.png') repeat-x 0px 0px;
}

#container {
	position: relative;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	background: none;
}

#header {
	height: 150px;
	background: #fff url('../images/header.png') no-repeat 0px 0px;
}

#header h1 {
	display: none;
}

#navigation {
	background: #2d67b2;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 5px 20px 5px 5px;
	text-align: right;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #589ad3;
	border-top: none;
}

#navigation ul {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}

#navigation li {
	background: none;
	font-size: 10pt;
	display: inline;
	font-family: "Helvetica Neue", Helvetica, "Bitstream Vera Sans", "Trebuchet MS", sans-serif;
	margin-left: 15px;
}

#navigation a:link,
#navigation a:visited {
	text-decoration: none;
	color: #b0c1d1;
}

#navigation .activeLink a:link,
#navigation .activeLink a:visited {
	text-decoration: none;
	color: #fff;
	border-bottom: 3px solid #589ad3;
	padding-bottom: 2px;
}

#navigation a:hover,
#navigation ul li:hover,
#navigation .activeLink {
	text-decoration: none;
	color: #fff;
}

#sidebars {
	width: 200px;
	margin: 0 -20px 0 20px;
	float: right;
	background: #000 url('../images/box_stripe.png') repeat;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-left: 2px solid #404447;
	border-bottom: 2px solid #404447;
}

#sidebars h2 {
	display:none;
	font-size: 10pt;
	text-transform: lowercase;
	text-align: center;
	border-bottom: 1px solid #CCCCCC;
	margin: 5px 10px;
	color: #848C93;
}

#sidebars li {
	list-style: none;
	font-size: 10pt;
}

#sidebars a:hover {
	color: #848C93;
}

#sidebars label {
	color: #848C93;
}

#userSidebar {
	text-align: center;
}

#userSidebar .field {
	width: 160px;
	border: 1px solid #848C93;
}

#userSidebar label {
	font-size: 9pt;
	text-transform: lowercase;
}

#sidebarForgotLink {
	font-size: x-small;
}

#content {
	padding: 0px 20px 20px;
	margin: 0;
	background: #ffffff;
	float: left;
	width: 860px;
}

#content.home {
	background: #181C21;
}

#footer {
	text-align: center;
	color: #ccc;
	background: #141414;
	padding: 5px;
	margin-bottom: 20px;
	clear: both;
	border-top: 5px solid #404447;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

#footer p {
	margin: 0px;
	font-size: 8pt;
}

#footer a {
	color: #ccc;
	text-decoration: underline;
}

#footer a:hover {
	text-decoration: none;
}

.title {
	font-family: Georgia, "Bitstream Vera Serif", serif;
	color: #282828;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.title a:link,
.title a:visited {
	text-decoration: none;
}

.title a:hover {
	text-decoration: underline;
}

.metadata {
	color: #666666;
	margin-top: 0px;
	padding-top: 0px;
}

.sidebar {	
	float: right;
	background: none;
	border: none;
	width: 180px;
	margin-bottom: 5px;
	padding: 0 10px;
}

p {
	font-size: 10pt;
}

table {
	font-size: 9pt;
	border-collapse: collapse;
}

td {
	border: 1px solid #D9D9D9;
	padding: 5px 5px;
}

th {
	background: #F0F0F0;
	border: 1px solid #D9D9D9;
	padding: 5px 10px;
	color: #282828;
	font-weight: bold;
}

.classifier {
	text-transform: uppercase;
	font-size: 7pt;
	color: #666666;
	font-weight: bold;
}

.errors {
	border: 3px solid #400000;
	padding: 0px 20px;
	margin-bottom: 20px;
	background: #8C2A2A;
	color: #ffffff;
}

.published {
	background-color: #D1FFEC;
}

.unpublished {
	background-color: #FFB5D3;
}

a:link,
a:visited {
	color: #0066cb;
}

a:hover {
	color: #282828;
}

dl {
	font-size: 10pt;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 10px;
}

img {
	border: none;
}

.pagination {
	font-size: 10pt;
	font-weight: bold;
}

.add {
	background: url('../images/icons/add_16.png') no-repeat 0px 1px;
	padding-left: 17px;
}

#sidebarLegend {
	width: 100%;
}

.textField {
	border: 1px solid #D9D9D9;
}

label {
	font-size: 9pt;
	font-weight: bold;
}

.fieldWithErrors {
	display: inline;
	color: #ee0000;
}

#errorExplanation {
	width: 590px;
	background-color: #ffb3b3;
	border: solid #ff8080 1px;
	padding: 0px 20px;
	margin: 20px 0px;
}

#errorExplanation h2 {
	font-size: 12pt;
}

#errorExplanation ul {
	font-size: 10pt;
}

.box {
	background: none;
	border: none;
	position: relative;
	overflow: auto;
	color:#ccc;
	width: 398px;
	height: 100%;
	padding-bottom: 20px;
}

.box h2, .box h3 {
	padding: 0;
	margin: 0;
	color: #589ad3;
}

.box p {
	margin: 0;
}

.box ul {
	padding: 0;
	margin: 0;
}

.date {
	font-size: x-small;
	color: green;
	margin-left:10px;
	list-style-type: none;
}

#leftColumn {
	float: left;
}

#rightColumn {
	background: #ccc url('../images/light_stripe.png') repeat;
	float: right;
	padding:10px;
}

#welcomeBox {
	background: none;
	margin: 0 0 15px;
	padding: 10px;
	float: left;
	width: 500px;
	height: 100px;
	color: #ccc;
	border: none;
}

#welcomeBox h2 {
	color: #0066CB;
}

#welcomeBox p {
	font-size: 12pt;
}

.h2Logo {
	background: transparent url('../images/h2Logo.png') no-repeat left center;
	color: transparent;
}

#featuredArticleBox {
	margin: 0;
	background: none;
	border: none;
}

#featuredArticleBox img {
	margin: 5px;
	float: left;
	border: 1px solid #B1C1D1;
	padding: 5px;
	background: #333;
}

#latestNewsBox {
	margin: 0;
	background: none;
	border: none;
}

#latestNewsBox p {
	color: #000;
	font-size: 8pt;
}

#latestNewsBox h4 {
	font-size: 8pt;
}

#latestNewsBox a {
	text-decoration: none;
}

#latestNewsBox a:hover {
	text-decoration: none;
	color: #000;
}

.boxItem {
	margin-left: 15px;
	padding-bottom: 5px;
	list-style-type: none;
	font-size: 9pt;
}

#upcomingEventsBox {
	border: none;
	background: none;
}

#feedsBox, #loginBox {
	background: none;
	border: none;
}

#feedsBox {
	padding-top: 20px;
	border-top: 1px dashed #333;
}

#loginBox {
	background: #000 url('../images/welcomebox_stripe.png') repeat;
	border: 1px solid #589ad3;
	height: 100px;
	padding: 10px;
	float: right;
	width: 310px;
	margin: 0;
	color: #ccc;
	border-top: none;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

#loginBox p {
	padding-top: 3px;
}

#loginBox .field {
	border: 1px solid #D9D9D9;
}

#loginBox li {
	list-style: none;
	padding-top: 10px;
}

#homeRegisterLink {
	float: right;
	font-size: x-small;
}

#feedsBox h3, #loginBox h3 {
	padding: 0 0 5px;
	margin: 0;
}

#feedsBox h3 {
	padding: 0;
	margin: 0;
}

#feedsBox p {
	float: none;
	text-align: center;
	font-size: 11pt;
}

#feedsBox img {
	margin-top: -1px;
}

.feedLink {
	background: url('../images/feed_16.png') no-repeat 0px 1px;
	padding: 0 20px 0 18px;
}

#flash {
	font-weight: 700;
	float: right;
	padding-top: 5px;
}

#flashNotice,
#flashLoginNotice {
	color: green;
}

#flashError,
#flashLoginError {
	color: red;
}

#textileEditor {
	width: 620px;
	height: auto;
	background-color: #f0f0ee;
	border: 1px solid #cccccc;
	padding: 0 0 5px 5px;
	margin: 0;
	display: block;
}

.titleField {
	font-size: 16pt;
	font-weight: bold;
}

input[type=text], textarea {
	border: 1px solid #D9D9D9;
}
