/* hhlc.eish! web application CSS
 * 
 * Homepage: http://hhlinuxclub.org/
 * Repository: http://github.com/jcxplorer/hhlc/tree/master	
 * 
 * Valid CSS level 3
*/


@font-face {
	font-family: "Bitstream Vera Mono";
	src: url("../fonts/bitstream/VeraMono.ttf");
}

@font-face {
	font-family: "Bitstream Vera Serif";
	src: url("../fonts/bitstream/VeraSe.ttf");
}

@font-face {
	font-family: "Bitstream Vera Sans";
	src: url("../fonts/bitstream/Vera.ttf");
}


body {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Helvetica, "Bitstream Vera Sans", "Trebuchet MS", sans-serif;
	background: #141414 url('../images/background_stripes.png') repeat-x 0px 0px;
}

#container {
	position: relative;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7px;
	background: none;
}

#header {
	height: 20px;
	background: #0066cb url('../images/header.png') no-repeat 0px 0px;
	padding-top: 126px;
}

#header h1 {
	display: none;
}

#navigation {
	background: none;
	padding: 0px 20px 0px 0px;
	text-align: left;
}

#navigation ul {
	list-style: none;
	display: inline;
}

#navigation li {
	background: none;
	font-family: Georgia, "Bitstream Vera Serif", serif;
	font-weight: bold;
	font-size: 11pt;
	display: inline;
}

#navigation a:link,
#navigation a:visited {
	text-decoration: none;
	padding: 2px 10px;
	color: #ffffff;
}

#navigation .activeLink a:link,
#navigation .activeLink a:visited {
	text-decoration: none;
	padding: 2px 10px;
	color: #00264b;
}

#navigation a:hover,
#navigation ul li:hover,
#navigation .activeLink {
	text-decoration: none;
	background: #ffffff;
	color: #00264b;
	padding-bottom: 2px;
	padding-top: 2px;
}

#sidebars {
	width: 200px;
	margin: 20px 0 0 20px;
	float: right;
}

#sidebars h2 {
	font-size: 10pt;
	text-transform: lowercase;
	text-align: center;
	border-bottom: 1px solid #D9D9D9;
	margin: 5px 10px;
	color: #666666;
}

#sidebars li {
	list-style: none;
	font-size: 10pt;
}

#userSidebar {
	text-align: center;
}

#userSidebar .field {
	width: 160px;
	border: 1px solid #D9D9D9;
}

#userSidebar label {
	font-size: 9pt;
	text-transform: lowercase;
}

#content {
	padding: 0px 20px 20px;
	margin: 0;
	background: #ffffff;
	float: left;
	width: 860px;
}

#footer {
	text-align: center;
	color: #f1f1f1;
	background: #00264B;
	padding: 10px;
	margin-bottom: 20px;
	clear: both;
}

#footer p {
	margin: 0px;
	font-size: 8pt;
}

#footer a {
	color: #ffffff;
	text-decoration: underline;
}

#footer a:hover {
	text-decoration: none;
}

.title {
	font-family: Georgia, "Bitstream Vera Serif", serif;
	color: #282828;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.title a:link,
.title a:visited {
	text-decoration: none;
}

.title a:hover {
	text-decoration: underline;
}

.metadata {
	color: #666666;
	margin-top: 0px;
	padding-top: 0px;
}

.sidebar {	
	float: right;
	background-color:#F0F0F0;
	border:1px solid #D9D9D9;
	width: 180px;
	margin-bottom: 20px;
	padding: 0 10px;
}

p {
	font-size: 10pt;
}

table {
	font-size: 9pt;
	border-collapse: collapse;
}

td {
	border: 1px solid #D9D9D9;
	padding: 5px 5px;
}

th {
	background: #F0F0F0;
	border: 1px solid #D9D9D9;
	padding: 5px 10px;
	color: #282828;
	font-weight: bold;
}

.classifier {
	text-transform: uppercase;
	font-size: 7pt;
	color: #666666;
	font-weight: bold;
}

.errors {
	border: 3px solid #400000;
	padding: 0px 20px;
	margin-bottom: 20px;
	background: #8C2A2A;
	color: #ffffff;
}

.published {
	background-color: #D1FFEC;
}

.unpublished {
	background-color: #FFB5D3;
}

a:link,
a:visited {
	color: #0066cb;
}

a:hover {
	color: #282828;
}

dl {
	font-size: 10pt;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 10px;
}

img {
	border: none;
}

.pagination {
	font-size: 10pt;
	font-weight: bold;
}

.add {
	background: url('../images/icons/add_16.png') no-repeat 0px 1px;
	padding-left: 17px;
}

#sidebarLegend {
	width: 100%;
}

#sidebarLegend td, #sidebarLegend th, #sidebarFeeds td, #sidebarFeeds th {
	border-width: 0;
}

.textField {
	border: 1px solid #D9D9D9;
}

label {
	font-size: 9pt;
	font-weight: bold;
}

.fieldWithErrors {
	display: inline;
	color: #ee0000;
}

#errorExplanation {
	width: 590px;
	background-color: #ffb3b3;
	border: solid #ff8080 1px;
	padding: 0px 20px;
	margin: 20px 0px;
}

#errorExplanation h2 {
	font-size: 12pt;
}

#errorExplanation ul {
	font-size: 10pt;
}

.box {
	background-color: #F0F0F0;
	border: 1px solid #D9D9D9;
	padding:10px;
	width: 398px;
	height: 170px;
	position: relative;
	overflow: auto;
}

.box h2 {
	padding: 0;
	margin: 0;
}

.box p {
	margin: 0;
}

.box ul {
	padding: 0;
	margin: 0;
}

.date {
	font-size: x-small;
	color: green;
	margin-left:10px;
	list-style-type: none;
}

#welcomeBox {
	background-color: #CCDAFF;
	border: solid #94C9FF 1px;
	margin: 10px 0 15px;
	float: left;
	width: 840px;
	height: auto;
}

#featuredArticleBox {
	margin: 5px 0 0 0;
	float: left;
}

#latestNewsBox {
	margin: 5px 0 20px;
	float: right;
}

.boxItem {
	margin-left: 30px;
	padding-bottom: 5px;
	list-style-type: none;
	font-size: 9pt;
}

#upcomingEventsBox {
	clear: both;
	float: left;
}

#feedsBox, #loginBox {
	float: left;
	margin-left: 20px;
}

#feedsBox {
	height: 48px;
	border-bottom: 0;
}

#loginBox {
	padding-top: 11px;
	height: 100px;;
}

#loginBox p {
	padding-top: 3px;
}

#loginBox .field {
	border: 1px solid #D9D9D9;
}

#loginBox li {
	list-style: none;
	padding-top: 10px;
}

#homeRegisterLink {
	float: right;
	font-size: small;
}

#feedsBox h3, #loginBox h3 {
	padding: 0 0 5px;
	margin: 0;
}

#feedsBox h3 {
	padding: 0;
	margin: 0;
}

#feedsBox p {
	float: none;
	text-align: center;
	font-size: 11pt;
}

#feedsBox img {
	margin-top: -1px;
}

.feedLink {
	background: url('../images/feed_16.png') no-repeat 0px 1px;
	padding: 0 20px 0 18px;
}

#flash {
	font-weight: 700;
	float: right;
	padding-top: 5px;
}

#flashNotice {
	color: green;
}

#flashError {
	color: red;
}

#textileEditor {
	width: 620px;
	height: auto;
	background-color: #f0f0ee;
	border: 1px solid #cccccc;
	padding: 0;
	margin: 0;
	display: block;
}
