<% form_tag '/login', :id => form_id ||= nil do %>
	<p>
		<label for="username">Username:</label>
		<%= text_field_tag :username, params[:username] %>
	</p>

	<p>
		<label for="password">Password:</label>
		<%= password_field_tag :password, params[:password] %>
	</p>
	
	<p>
		<%= check_box_tag :remember_me, params[:remember_me] %>
		<label for="remember_me">Remember me</label>
	</p>

	<p>
		<%= submit_tag "Login" %>
	</p>
<% end %>
