<h2 class="title">Request credentials</h2>

<p>If you have an account with us and forgot your username and/or password, please provide us with your email address and you will receive an email with your username and instructions on how to reset your password.</p>

<% form_tag :action => "send_credentials" do %>
	<p>
		<label for="email">Email:</label><br />
		<%= text_field_tag :email, params[:email], :size => 40 %>
	</p>
	
	<p>
		<%= submit_tag "Send credentials" %>
	</p>
<% end %>