<div id="events_sidebar" class="sidebar">
	<h2>Events</h2>
	
	<% if Event.upcoming(1).empty? %>
		<p>No upcoming events.</p>
	<% else %>
		<% for event in Event.upcoming(2) %>
			<p title="<%= format_event_dates(event) %>">
				<%= link_to(event.name, event_path(event)) %>
				<% if event.ongoing? %>
					<span class="classifier">Ongoing</span>
				<% end %>
			</p>
		<% end %>
	<% end %>
</div>