<h2 class="title">Past Events</h2>
<% if @past_events.size > 0 %>
	<% for event in @past_events %>
		<h3 class="title"><%= link_to event.name, event %></h3>
		<p class="metadata"><%=h format_event_dates(event) %></p>
	<% end %>
<% else %>
	<p>There are no past events at this point.</p>
<% end %>