<h2 class="title"><%=h @news_article.title %></h2>
<p class="metadata">
	<%=h format_date(@news_article.created_at) %>
	by <%= link_to_profile @news_article.user %>
</p>
<%= RedCloth.new(@news_article.body).to_html %>