<h2 class="title">Administration</h2>

<p><strong>Welcome to the administration of the HAAGA-HELIA Linux Club website.</strong></p>

<p>
	Your current role is <em><%= @role.name %></em>.
	That means that you can: <%= @role.privileges.join(", ") %>.
</p>