<p>Dear <%= @user.first_name %> <%= @user.last_name%>,</p>


<p>Your credentials were requested at our website.</p>

<p>Your username is: <b><%= @user.username %></b></p>

<p>To reset your password, follow this link within the next 24 hours:<br />
<%= password_reset_url(:host => @host, :username => @user.username, :reset_hash => @user.reset_hash) %>
</p>

<p>If the link above is not clickable, please copy paste it into the address field of your web browser.</p>

<p>If you did not request this reset, and suspect that somebody else might be trying to access your account, please contact an administrator.</p>

<p>Please do NOT reply to this email as it is sent automatically by our web application.<br />
If you need assistance you can contact us through the web site, or by emailing <i.am.lost@hhlinuxclub.org>.</p>


<p>Sincerely,<br />
The HHLC Server</p>
