<h2 class="title">Settings</h2>

<% form_tag :action => "update" do %>
	<p>
		<label for="welcome_message">Welcome message:</label><br />
		<%= text_area_tag :welcome_message, @welcome_message, :cols => 85, :rows => 10 %>
	</p>
	
	<p>
		<%= submit_tag "Save" %>
	</p>
<% end %>