<% title "Galleries" %>

<% image_table(@galleries, @columns) do |gallery| %>
    <%= link_to(image_tag(gallery.image.upload.url(:thumb)), gallery) %>
    <h3><%= link_to(gallery.name, gallery) %></h3>
<% end %>
