<h2 class="title"><%= @gallery.name %></h2>

<% image_table(@gallery.images, @columns) do |image| %>
  <%= link_to(image_tag(image.upload.url(:thumb)), image.upload.url(:large), :rel => "group", :class => "fancybox") %>
<% end %>