<div class="sidebar" id="feeds_sidebar">
	<h2>Feeds</h2>
	<p>
		<%= link_to "News", { :controller => "news", :action => "index", :format => "atom" }, { :class => "feedLink" } %>
	</p>
	<p>
		<%= link_to "Articles", { :controller => "articles", :action => "index", :format => "atom" }, { :class => "feedLink" } %>
	</p>
	<p>
		Events
	</p>
</div>
