<h2 class="title">About</h2>

<% form_tag :action => "update" do %>
	<p>
	<label for="about">About the club:</label><br />
		<span id="textileEditor">
		<%= textile_editor_tag :about, @about, :cols => 85, :rows => 30 %>
	</span>	
	</p>
	
	<%= submit_tag "Save" %>
<% end %>
